<title>Recibo de Pago</title>

<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<center>
    <section>
        <form action="/recibo">
            <label for="numDocente">Num. Docente</label><br>
            <input type="number" name="numDocente" id="numDocente" required value="<%=numDocente%>"><br>
            <label for="nombre">Nombre</label><br>
            <input type="text" name="nombre" id="nombre" required value="<%=nombre%>"><br>
            <label for="domicilio">Domicilio</label><br>
            <input type="text" name="domicilio" id="domicilio" required value="<%=domicilio%>"><br>
            <label for="nivel">Nivel</label><br>
            <select name="nivel" id="nivel" value="<%=nivel%>">
                <option value="1">Licenciatura o Ingenieria</option>
                <option value="2">Maestro en Ciencias</option>
                <option value="3">Doctor</option>
            </select><br>
            <label for="pagohr">Pago por Hora Base</label><br>
            <input type="number" name="pagohr" id="pagohr" required value="<%=pagohr%>"><br>
            <label for="horas">Horas Impartidas</label><br>
            <input type="number" name="horas" id="horas" required value="<%=horas%>"><br>
            <label for="numhijos">Numero de hijos</label><br>
            <select name="hijos" id="hijos" value="<%=hijos%>">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5+</option>
            </select><br><br>
    
            <button type="submit">Calcular</button>
            <a type="button" href="/recibo">Limpiar</a>
        </form>  
    </section>

    <aside>
<%

if(nivel==1){
    pagohr = pagohr*1.30;
} else if(nivel==2){
    pagohr = pagohr*1.50;
} else{
    pagohr = pagohr*2
}

let pagobase = pagohr * horas;

let impuestos = (pagobase * 0.16).toFixed(2);

let bono = 0;

if(hijos==1 || hijos==2){
    bono = pagobase * 0.05;
} else if(hijos==3 || hijos==4){
    bono = pagobase * 0.1;
}else if(hijos==5){
    bono = pagobase * 0.2;
}

let total = pagobase + bono - impuestos;

%>
<h3>Detalles del Pago</h3>
<label for=""><b>Pago por Horas Impartidas</b></label>
<span><%=pagobase%></span><br>
<label for=""><b>Pago por Bono</b></label>
<span><%=bono%></span><br>
<label for=""><b>Impuestos</b></label>
<span><%=impuestos%></span><br>
<label for=""><b>Total a Pagar</b></label>
<span><%=total%></span><br>

    </aside>
</center>

<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #f4f4f4;
    }

    center {
        margin-top: 20px;
    }

    section {
        width: 70%;
        background-color: #fff;
        padding: 20px;
        margin-right: 20px;
    }

    aside {
        width: 30%;
        background-color: #f9f9f9;
        padding: 20px;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color:white;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer; 
    }
    a:hover{
        background-color: #555;
    }

    button:hover {
        background-color: #555;
    }

    label {
        font-weight: bold;
    }

    select, input[type="number"], input[type="text"] {
        margin-bottom: 10px;
        padding: 8px;
        width: 300px;
    }
</style>

<%-include('partials/footer.ejs')%>